:root {
  font-size: medium;
  font-family: Roboto, sans-serif;
  line-height: 1.45;
  box-sizing: border-box;

  --font-size-1: 48px;
  --font-size-2: 36px;
  --font-size-3: 24px;
  --font-size-4: 18px;

  --colour-1: #F9FAF8;
  --colour-2: #E5E7EB;
  --colour-3: #1F2937;
  --colour-4: #3882F6;
}

body,
ul,
h1,
p {
  margin: 0;
}

body > * {
  padding: 0 10vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colour-3);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-links ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-links a {
  color: var(--colour-2);
}

.logo {
  color: var(--colour-1);
  font-size: var(--font-size-3);
  font-weight: 1000;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  background-color: var(--colour-3);
  font-size: var(--font-size-4);
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.hero > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex-basis: 45%;
}

.hero h1 {
  color: var(--colour-1);
  font-size: var(--font-size-1);
  font-weight: 800;
}

.hero p {
  color: var(--colour-2);
}

.hero button {
  color: var(--colour-1);
  background-color: var(--colour-4);
  font-weight: bold;
  font-size: var(--font-size-4);
  border-style: none;
  border-radius: 0.333333rem;
  padding: 0.4rem 1.666666rem;
}

.hero-image {
  color: var(--colour-1);
  background-color: #6D747D;
  flex-grow: 1;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.squares h1 {
  font-size: var(--font-size-2);
  font-weight: 900;
  text-align: center;
}

.squares-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
