:root {
  font-size: medium;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;

  --font-size-1: 48px;
  --font-size-2: 36px;
  --font-size-3: 24px;
  --font-size-4: 18px;

  --colour-1: #F9FAF8;
  --colour-2: #E5E7EB;
  --colour-3: #1F2937;
  --colour-4: #3882F6;
}

body {
  margin: 0;
}

body > * {
  padding: 0 10vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header-hero {
  background-color: var(--colour-3);
}

.header-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-links a {
  color: var(--colour-2);
}

.logo {
  color: var(--colour-1);
  font-size: var(--font-size-3);
  font-weight: 800;
}
